// Import der Theming Funktionen
@import "~@angular/material/theming";

// Definition der Farbpaletten
$primary-palette: mat-palette($mat-deep-orange);
$accent-palette: mat-palette($mat-cyan);
$warn-palette: mat-palette($mat-red);

// Erzeugen des Theme Objekts
$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
$dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

// Erzeugen $primary Variable zur einfachen
// Verwendung der Primärfarbe in Variant 500
$primary: mat-color($primary-palette);
